*.pyc
*.pyo
*.fzn
pandac/
*.dis
*.log
screenshots/
panda3d/
sign/
whitelist/
news/
Library/
*.buildings
*.trackRecords
*.DS_Store
backups/
settings.json
errorCode
desktop.ini

# PyCharm IDE
.idea
venv
# Visual Studio Code
.vscode
